@import 'tailwindcss';
@import './theme.css';

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --bg: 255 255 255;
    --text: 0 0 0;
  }
  
  .dark {
    --bg: 15 23 42;
    --text: 255 255 255;
  }