@import 'tailwindcss';
@import './theme.css';


@layer base {
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  
    *::before,
    *::after {
      box-sizing: border-box;
    }
  
    body {
      font-family: 'Montserrat', sans-serif;
      line-height: 1.5;
      background-color: #fff;
    }
  
    img,
    picture,
    video,
    canvas,
    svg {
      display: block;
      max-width: 100%;
    }
    input,
    button,
    textarea,
    select {
      font: inherit;
      outline: none;
    }
  
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      overflow-wrap: break-word;
    }

}

@layer utilities {
    .form-layout {
        @apply grid grid-cols-1 lg:grid-cols-2 lg:gap-x-10 mb-5 lg:mb-10;
    }
}