@import "./tailwind.css";
@import "./theme.css";

/* Font classes */
body {
  font-family: "DM Sans", sans-serif;
  background-color: #0f172a;
  padding: 0 1.25rem;
  color: white;
}

button,
a {
  cursor: pointer;
}

@layer components {
  .page-container {
    max-width: 1280px;
    margin: 0 auto;
  }

  .movie-list {
    .swiper-slide {
      width: 300px !important;
      height: auto !important;
    }
  }

  .banner .swiper {
    height: 100% !important;
  }

  //pagination
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .selected {
      color: var(--color-primary);
    }
  }
}

