@import './tailwind.css'; 

/* Root variables */
:root {
    --text-primary: #F62682;
    --text-secondary: #6F5CF1;
}

/* Text classes */
.text-primary {
    color: var(--text-primary);
}

.text-secondary {
    color: var(--text-secondary);
}

/* Font classes */
body {
    font-family: 'DM Sans', sans-serif;
    background-color: #0f172a;
    padding: 0 1.25rem;
}

@layer components {
    .page-container {
        max-width: 1280px;
        margin: 0 auto;
    }
}