@import './tailwind.css'; 

/* Root variables */
:root {
    --text-primary: #F62682;
}

/* Text classes */
.text-primary {
    color: var(--text-primary);
}

/* Font classes */
.font-body {
    font-family: 'DM Sans', sans-serif;
}

