@import "./tailwind.css";
@import "./theme.css";

*,
* *::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

/* Font classes */
body {
  font-family: "DM Sans", sans-serif;
}

button,
a,
label {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}
