@import "./tailwind.css";
@import "./theme.css";

@layer base {
  body {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    background-color: #fff;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}
